<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">

        <a class="navbar-brand" href="#">
            <img src="../assets/aadhaar_english_logo.svg" height="48px" alt="" class="d-inline-block">
            Address Update
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link px-4 active" aria-current="page" href="#">Home</a>
                <a class="nav-link px-4" href="#">Introducer</a>
                <a class="nav-link px-4" href="#">Borrower</a>
            </div>
        </div>

    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>
