<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container">

        <a class="navbar-brand" routerLink="home">
            <img src="../assets/aadhaar_english_logo.svg" height="48px" alt="" class="d-inline-block pe-3">
            Address Update
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
                <a class="nav-link" routerLink="landlord" routerLinkActive="active">Landlord</a>
                <a class="nav-link" routerLink="borrower" routerLinkActive="active">Borrower</a>
            </div>
        </div>

    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>
