<div *ngIf="!isLoggedIn" class="container mt-4">
    <div class="row p-2 d-flex align-items-center">
        <div class="col-md-6 p-2">
            <h1><b>Landlord Login</b></h1>
            
            <h4>Step 1</h4>
            <p class="mb-4">Enter your Aadhaar Number in the first field provided</p>
            
            <h4>Step 2</h4>
            <p class="mb-4">Click on Request OTP. A One-Time Password will be sent to your registered mobile number</p>
            
            <h4>Step 3</h4>
            <p class="mb-4">Enter the OTP and click on Submit</p>
        </div>
        <div class="col-md-6 p-2">
            <div class="login-card shadow container">
                <form [formGroup]="landLordLoginForm">
                    <div class="form-group">
                        <label class="fw-bold">
                            Phone Number
                            <span class="mandatory"> *</span>
                        </label>
                        <input type="number"
                            class="form-control"
                            formControlName="landLordNumber"
                            autocomplete="off"
                            [class.border-danger]="landLordLoginForm.get('landLordNumber').invalid && (landLordLoginForm.get('landLordNumber').dirty || landLordLoginForm.get('landLordNumber').touched || isNumberSubmitted)"/>
                            <div *ngFor="let validation of validationMessages.landLordNumber">
                                <small class="text-danger error" *ngIf="landLordLoginForm.get('landLordNumber').hasError(validation.type) && (landLordLoginForm.get('landLordNumber').dirty || landLordLoginForm.get('landLordNumber').touched || isNumberSubmitted)">
                                        {{validation.message}}
                                </small>
                            </div>
                    </div>
                    <button class="btn btn-primary" (click)="requestOtp()">Request Otp</button>
                </form>
                <form [formGroup]="otpForm">
                    <div class="form-group mt-4">
                        <label class="fw-bold">
                            OTP
                            <span class="mandatory"> *</span>
                        </label>
                        <input type="number"
                            class="form-control"
                            formControlName="otp"
                            autocomplete="off"
                            [class.border-danger]="otpForm.get('otp').invalid && (otpForm.get('otp').dirty || otpForm.get('otp').touched || isFormSubmitted)"/>
                            <div *ngFor="let validation of validationMessages.otp">
                                <small class="text-danger error" *ngIf="otpForm.get('otp').hasError(validation.type) && (otpForm.get('otp').dirty || otpForm.get('otp').touched || isFormSubmitted)">
                                        {{validation.message}}
                                </small>
                            </div>
                    </div>
                    <ngx-recaptcha2 #captchaElem
                                    siteKey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI" (success)="handleSuccess($event)"
                                    [size]="size"
                                    [hl]="lang"
                                    [theme]="theme"
                                    [type]="type"
                                    formControlName="recaptcha">
                                    <div *ngFor="let validation of validationMessages.recaptcha">
                                        <small class="text-danger error" *ngIf="otpForm.get('recaptcha').hasError(validation.type) && (otpForm.get('recaptcha').dirty || otpForm.get('recaptcha').touched || isFormSubmitted)">
                                                {{validation.message}}
                                        </small>
                                    </div>
	                </ngx-recaptcha2>   
                    <button class="btn btn-primary my-2 me-4" (click)="resetLoginForm()">Reset</button>
                    <button class="btn btn-primary my-2 " (click)="submitLandLordLoginForm()">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isLoggedIn" class="container mt-4">
    <div class="row p-2 d-flex align-items-center">
        <div class="col-md-6 p-2">
            <h1><b>Welcome</b></h1>
            <h4>Easy Steps to Accept the request</h4>
            <p class="mb-4">Aadhaar Update! It's an easy process....</p>
            <p class="mb-4 ml-4">1. Verify the mobile number of your Tenant</p>
            <p class="mb-4ml-4">2. If found valid, Accept else Reject the request</p>
        </div>
        <div  class="col-md-6 p-2">
            <div style="text-align: end;">
                <button class="btn btn-primary" (click)="logout()"><b>Logout</b></button>
            </div>
            <br>
            <div *ngIf="!isDataPresent">
                <p><b>Click the button, if you have got any new requests</b></p>
                <button class="btn btn-primary" (click)="requests()"><b>Requests</b></button>
            </div>
            <div *ngIf="isDataPresent">
                <p class="mb-4" style="text-align: center;"><b>Address Update Requests</b></p>
            <table class="mt-5 mb-5">
                <tr>
                    <th>Tenant Aadhaar Number</th>
                    <th>Present Status</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let data of userData">
                        <td>{{data.tenantAadhaarNumber}}</td>
                        <td>{{data.request}}</td>
                        <td>
                            <button class="btn btn-success px-3 py-1 my-2 ml-3" *ngIf="data.request=='No'" (click)="acceptRequest(this.data)">Accept</button>
                            <button class="btn btn-danger px-3 py-1 my-2 ml-3" style="margin-left:5px;"*ngIf="data.request=='No'" (click)="rejectRequest(this.data)">Reject</button>
                            <button class="btn btn-success px-3 py-1 my-2 ml-3" *ngIf="data.request=='Accepted'">Accepted</button>
                            <button class="btn btn-danger px-3 py-1 my-2 ml-3" *ngIf="data.request=='Rejected'">Rejected</button>
                        </td>
                </tr>
            </table>
            </div>
        </div>
    </div>
</div>