<div class="container mt-4">
    <div class="row p-2 d-flex align-items-center">
        <div class="col-md-6 p-2">
            <h1><b>Landlord Login</b></h1>
            
            <h4>Step 1</h4>
            <p class="mb-4">Enter your Aadhaar Number in the first field provided</p>
            
            <h4>Step 2</h4>
            <p class="mb-4">Click on Request OTP. A One-Time Password will be sent to your registered mobile number</p>
            
            <h4>Step 3</h4>
            <p class="mb-4">Enter the OTP and click on Submit</p>
        </div>
        <div class="col-md-6 p-2">
            <div class="login-card shadow container">
                <form [formGroup]="landLordLoginForm">
                    <div class="form-group">
                        <label>
                            Aadhar Number
                            <span class="mandatory"> *</span>
                        </label>
                        <input type="number"
                            class="form-control"
                            formControlName="aadhaarNumber"
                            autocomplete="off"
                            [class.border-danger]="landLordLoginForm.get('aadhaarNumber').invalid && (landLordLoginForm.get('aadhaarNumber').dirty || landLordLoginForm.get('aadhaarNumber').touched || isNumberSubmitted)"/>
                            <div *ngFor="let validation of validationMessages.aadhaarNumber">
                                <small class="text-danger error" *ngIf="landLordLoginForm.get('aadhaarNumber').hasError(validation.type) && (landLordLoginForm.get('aadhaarNumber').dirty || landLordLoginForm.get('aadhaarNumber').touched || isNumberSubmitted)">
                                        {{validation.message}}
                                </small>
                            </div>
                    </div>
                    <button class="btn my-2" style="background-color: #2622a5; color: white;" (click)="requestOtp()">Request Otp</button>
                </form>
                <form [formGroup]="otpForm">
                    <div class="form-group">
                        <label>
                            OTP
                            <span class="mandatory"> *</span>
                        </label>
                        <input type="number"
                            class="form-control"
                            formControlName="otp"
                            autocomplete="off"
                            [class.border-danger]="otpForm.get('otp').invalid && (otpForm.get('otp').dirty || otpForm.get('otp').touched || isFormSubmitted)"/>
                            <div *ngFor="let validation of validationMessages.otp">
                                <small class="text-danger error" *ngIf="otpForm.get('otp').hasError(validation.type) && (otpForm.get('otp').dirty || otpForm.get('otp').touched || isFormSubmitted)">
                                        {{validation.message}}
                                </small>
                            </div>
                    </div>
                    <ngx-recaptcha2 #captchaElem
                                    siteKey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI" (success)="handleSuccess($event)"
                                    [size]="size"
                                    [hl]="lang"
                                    [theme]="theme"
                                    [type]="type"
                                    formControlName="recaptcha">
                                    <div *ngFor="let validation of validationMessages.recaptcha">
                                        <small class="text-danger error" *ngIf="otpForm.get('recaptcha').hasError(validation.type) && (otpForm.get('recaptcha').dirty || otpForm.get('recaptcha').touched || isFormSubmitted)">
                                                {{validation.message}}
                                        </small>
                                    </div>
	                </ngx-recaptcha2>   
                    <button class="btn my-2 me-4" style="background-color: #2622a5; color: white;" (click)="resetLoginForm()">Reset</button>
                    <button class="btn my-2 " style="background-color: #2622a5; color: white;" (click)="submitLandLordLoginForm()">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>