.login-card {
    // This div is a bootstrap container...
    // Hence, only change vertical padding  
    border-radius: 16px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.form-group {
    padding-bottom: 1rem;
}

.form-group > label {
    padding-bottom: 0.5rem;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

table, th, td {
    border : 2px solid black;
    border-collapse: collapse;
  }
  
  th, td {
      padding: 15px;
  }
  
  th {
      color: black;
      text-align: center;
      font-weight: bold;
  }